@{ Layout = "layout.cshtml"; }


<div class="row">
    <div class="col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-money"></i> Donation</h3>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="bitcoin:18qqrtR4xHujLKf9oqiCsjmwmH5vGpch4D?label=CoiniumServ%20Donation" class="list-group-item">
                        <span class="badge">CXGEktTjBfKmLXBTm4tKTmSQJL6VaESRun</span>
                        Cryptonite (XCN)
                    </a>
                </div>                                                           
            </div>
        </div>
    </div>
</div>
